/* src/styles.css */

:root {
    --color-primary: #5AB1B7;
    --color-secondary: #3182ce;
    --color-highlight: #FFA3A3;
    --color-dark: #333333;
    --color-light: hsl(0, 0%, 90%);
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* Sección Natural Environment Teaching */
.natural-environment-teaching-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.natural-environment-teaching-section h2 {
    font-size: 2rem;
    color: var(--color-dark);
    margin-bottom: 20px;
    text-align: left;
}

.natural-environment-teaching-section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.natural-environment-teaching-section img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.natural-environment-teaching-section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.natural-environment-teaching-section .w-full {
    width: 100%;
}

.natural-environment-teaching-section .md\:w-1\/2 {
    width: 50%;
}

.natural-environment-teaching-section .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.natural-environment-teaching-section .mb-8 {
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .natural-environment-teaching-section .md\:w-1\/2 {
      width: 100%;
  }
}
/* src/styles.css */

/* Estilos generales para el navbar */
nav {
    background-color: var(--color-light);
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
    display: flex;
    justify-content: center; /* Centrar el contenido del navbar */
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem; /* Espacio entre los elementos del navbar */
}

nav ul li a {
    color: var(--color-dark);
    text-decoration: none; /* Evita el subrayado */
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--color-secondary);
    text-decoration: none; /* Evita el subrayado en hover */
}

nav .btn-free-consultation {
    background-color: var(--color-primary); /* Color de fondo del botón */
    color: var(--color-light); /* Color del texto */
    padding: 0.5rem 1rem;
    border-radius: 9999px; /* Bordes redondeados */
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
}

nav .btn-free-consultation:hover {
    background-color: var(--color-highlight); /* Color de fondo en hover */
    color: var(--color-dark); /* Color del texto en hover */
}

/* Responsivo */
@media (min-width: 768px) {
    nav ul {
        justify-content: center;
    }
}


/* Responsivo */
@media (min-width: 768px) {
    nav ul {
        justify-content: center;
    }
}

